html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
h1,
h2,
h3 {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
*/
body {
  background-color: hsl(204deg, 43%, 93%);
}

main {
  box-shadow: 0px 0px 10px gray;
}

.hero {
  background-color: white;
}
.hero .hero-title {
  color: hsl(179deg, 62%, 43%);
}
.hero .hero-subtitle {
  color: hsl(71deg, 73%, 54%);
  padding: 1.5rem 0;
}
.hero .hero-desc {
  color: hsl(218deg, 22%, 67%);
}

.subscription {
  background-color: hsl(179deg, 62%, 43%);
}
.subscription .subscription-title {
  color: white;
}
.subscription .subscription-price .subscription-price-val {
  padding: 1rem 0;
  color: white;
}
.subscription .subscription-price .subscription-price-text {
  color: hsl(204deg, 43%, 93%);
  padding-left: 1rem;
  opacity: 0.7;
}
.subscription .subscription-desc {
  color: hsl(204deg, 43%, 93%);
  padding-bottom: 1.5rem;
}

.about {
  background-color: hsl(179deg, 62%, 43%);
  opacity: 0.9;
}
.about .about-title {
  padding-bottom: 1.5rem;
  color: white;
}
.about .about-desc {
  color: hsla(204deg, 43%, 93%, 0.8);
  padding-right: 25%;
}

body {
  font-family: "Karla", sans-serif;
}

.hero .hero-title {
  font-weight: 700;
  font-size: 1.2rem;
}
.hero .hero-subtitle {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.1rem;
}
.hero .hero-desc {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.subscription .subscription-title {
  font-weight: 700;
  font-size: 1.2rem;
}
.subscription .subscription-price .subscription-price-val {
  font-weight: 700;
  font-size: 2rem;
}
.subscription .subscription-price .subscription-price-text {
  font-weight: 400;
  font-size: 1rem;
}
.subscription .subscription-desc {
  font-weight: 400;
}
.subscription button {
  font-weight: 700;
  font-size: 0.9rem;
}

.about .about-title {
  font-weight: 700;
  font-size: 1.2rem;
}
.about .about-desc {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

main {
  width: 310px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .hero, main .subscription, main .about {
  padding: 1.5rem;
}
main .subscription-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 900px) {
  main {
    flex-direction: column;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .content {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    margin: auto;
  }
  main .content > * {
    flex: 1 1 0;
  }
}
@media only screen and (min-width: 0px) and (max-height: 400px) {
  main {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media only screen and (min-width: 900px) and (max-height: 550px) {
  main {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
button {
  background-color: hsl(71deg, 73%, 54%);
  color: white;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0.5rem gray;
}
button:hover {
  border: none;
}/*# sourceMappingURL=main.css.map */