//example: $Brightorange: hsl(31, 77%, 52%);
// Primary

$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);

// Neutral

$LightGray: hsl(204, 43%, 93%);
$LightGraytransparent: hsl(204, 43%, 93%, 0.8);
$GrayishBlue: hsl(218, 22%, 67%);
